<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="shortcut icon" href="images/favicon.ico">
      <title>Vue Pokedex</title>
      <!-- CSS -->
      <link rel="stylesheet" href="style.css">
      <style>[v-cloak]{display:none}</style>
   </head>
   <body>
      <header class="main-header">
         Vue - Pokedex
      </header>
      <div id="app" class="main-content" v-cloak>
         <aside class="pokedex-filters">
            <div class="nice-input-wrapper">
                <input v-model="searchText" type="text" placeholder="Search by name" class="nice-input" @keyup.enter="setFilteredText"> 
                <span class="focus-border"><i></i></span>
            </div>
            <p class="checkboxes-list-title">Type</p>
            <div class="checkboxes-list">
               <div class="md-checkbox" v-for="(color, type) in TYPE_COLOR" :key="type">
                  <input :id="'checkbox-'+type" type="checkbox" :value="type" v-model="selectedPokemonTypes">
                  <label :for="'checkbox-'+type">
                        <i class="material-icons" :style="{color: color}">lens</i>
                         <!-- uppercase is a filter to format a text -->
                        <span class="label-title">{{ type | uppercase }}</span>
                  </label>
               </div>
            </div>
         </aside>
         <main class="main-view">
            <article class="pokemons-list">
               <pokemon-card
                  v-for="pokemon in filteredPokemons" 
                  :key="pokemon.id"
                  :pokemon ="pokemon"
                  :color-by-type="TYPE_COLOR"
                  @remove-pokemon-event="removePokemon(pokemon)"
               ></pokemon-card>
            </article>
         </main>
      </div>
      <script id="pokemon-card-template" type="text/x-template">
         <div class="pokemon-card">
               <div class="background-wrapper">
                   <div v-for="type in pokemon.types" :key="type" :style="{'background-color': colorByType[type]}"></div>
               </div>
               <span @click="removePokemon" class="remove-pokemon"><i class="material-icons">close</i></span>
               <div class="image-wrapper"><img :src="pokemon.image" :alt="pokemon.name" class="pokemon-image"></div>
               <div v-show="pokemon" class="pokemon-title">
                   {{pokemon.name}} {{count}}
               </div>
               <button @click="increment">CLICK</button>
           </div>
      </script>
      <script src="http://unpkg.com/vue"></script>
      <script src="main.js"></script>
   </body>
</html>
<!--
Vue Cheatsheet: https://vuejs-tips.github.io/cheatsheet/
Form Input Bindings: https://vuejs.org/v2/guide/forms.html
Filters: https://vuejs.org/v2/guide/filters.html
Watchers: https://vuejs.org/v2/guide/computed.html#Watchers
-->